footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-weight: 900;
  font-size: 3em;
  padding: 2em 0;
}

/* Laptop 1366px */
@media screen and (max-width: 1366px) {
  footer {
    height: 70vh;
  }
}

@media screen and (max-width: 541px) {
  footer {
    height: 5vh;
    font-size: 2em;
    padding: 1em;
  }
}
